.main-section{
    /* padding-top: 85px; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-button{
    background-color: #f61524 !important;
    transform: scale(1.2);
    font-weight: 600;
}

.main-section-button:hover{
    background-color: #d00815 !important;
}

.main-section__image{
    width: 800px;
    height: auto;
}


@media screen and (max-width: 600px) {
    .main-section__image{
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .main-section__image{
        width: 500px;
        height: auto;
    }
    .main-section > * h1 {
        font-size: 2rem;
    }

    .main-section > * p {
        font-size: 1rem;
    }
    .main-section-button{
        transform: scale(0.7);
    }
}