.step1-section{
    padding-top: 85px;
    min-height: 100vh;
    width: 100vw;
}

.step1-section-button{
    background-color: #f61524;
}

.step1-section-button:hover{
    background-color: #d00815;
}

.step1-section__image{
    width: 300px;
    height: auto;
}

@media screen and (max-width: 580px) {
    .step1-section__image{
        width: auto;
        height: 400px !important;
    }
    .step1-section-writing > h1 {
        font-size: 36px;
    }
    .step1-section-writing > p {
        font-size: 18px;
    }
}